@{ //Por ser razor, aqui eu comento no estilo C#
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Salles Web MVC App.</p>
<p>@ViewData["Email"]</p>

    <address>
    <strong>More information: </strong> <a href="https://www.linkedin.com/in/carlosfelipes/">Linkedin/CarlosFelipeS</a>
    </address>

<!--Aqui eu faco comentario estilo html-->